@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Playfair+Display:ital,wght@0,700;1,400&display=fallback');
/* Styles for Tidy Template */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/range-slider.css';
@import 'additional-styles/toggle-switch.css';
@import 'additional-styles/theme.css';
@import 'fonts/satoshi.css';
@import 'fonts/erode.css';
@import 'additional-styles/additional.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* See Alpine.js: https://github.com/alpinejs/alpine#x-cloak */
[x-cloak=""] {
    display: none;
}

.filter-blue{
    filter: invert(81%) sepia(35%) saturate(6397%) hue-rotate(189deg) brightness(95%) contrast(100%);
}

.hero-bg-size{
    background-size: clamp(500px * 0.5, 70%, 1148px);
}

.hero-bg-position{
    background-position-x: clamp(35rem * 0.8, 120%, 100rem);
}

.hero-bg-position-sm{
    background-position-x: clamp(20rem, 80%, 150rem);
}
.hero-bg-position-md{
    background-position-x: clamp(60rem, 90%, 150rem);
}

.dynamic-hero-text{
    font-size: clamp(4.5rem * 0.5, 4.2vw, 4.5rem);
}

.route-is-active{
    /*color:white;*/
}
